* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    padding: 1em 1em;
    text-align: left;
}
header#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input#filter {
    font-size: small;
    margin-right: 1rem;
    padding-right: 1rem;
}
 
button#button {
    font-size: 0.75rem;
    color: white;
    border: solid 0.5px black;
    border-radius: 3px;
    padding: 0.150rem;
    background-color: black;
}
button#button:hover {
    background-color: darkblue;
    font-size: 1rem;
}
button#button:focus {
    background-color: lightpink;
}

div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    min-width: 3vh;
}
header#main-header {
    background-color: lightgreen;
}