body {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3em;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
h1, h2 {
    color: #007e7e;
}
.guarentee {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #a7cece;
    color: #444;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 1.5rem;
    padding-left: 5.5rem;
    margin: 2rem;
    margin-right: 12rem;
    line-height: 1.9rem;
    background-image: url("images/background.gif");
    background-repeat: no-repeat;
    background-position: top left;
}