* {
	margin:     0;
	padding:    0;
	box-sizing: border-box;
  }
  body {
	margin-left:  20%;
	margin-right: 20%;
  font-family: sans-serif;
  }
  a {
	text-decoration: none;
  }
  p {
	color:     maroon;
  }
  h1 {
	border-bottom: 1px solid black;
  }
  h1, h2 {
	color:     gray;
  }
  .blueberry {
    color: purple;
  }
  .greentea {
    color: green;
   }
  .raspberry {
    color: blue;
  }
