*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1 {
    padding: 1rem 0;
}
h2 {
    margin-top: 1rem;
}
ul {
    margin-top: 1rem;
    padding: 0.7rem;
    list-style-type: none;
    border: 1px dotted black;
    border-radius: 0.4em;
}
li {
    margin: 0.5rem;
    border: 1px solid gray;
    padding: 0.125em 0.5em;
    border-radius: 0.4em;
    background: rgba(169, 169, 169, 0.5);
    text-align: left;
}
input::placeholder {
    color: black;
    opacity: 0.3;
}