*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    padding: 1rem 0;
    text-align: center;
}
form {
    text-align: center;
}
input::placeholder {
    color: black;
}